<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Profile Management</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
  <style>
 body {
            background-color: #f3f3f3;
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }

        h1 {
            padding: 20px;
            text-align: center;
            color: #1d1d1f;
        }

        .login {
            background-color: rgba(255, 255, 255, 0.7);
            padding: 20px;
            border-radius: 8px;
            text-align: left;
        }

        label {
            color: #1d1d1f;
            font-weight: bold;
        }

        input[type="text"], input[type="number"], select {
            width: 100%;
            padding: 5px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: #1d1d1f;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            font-weight: bold;
        }

        button:hover {
            opacity: 0.8;
        }
  </style>
  <h1>Client Profile Management</h1>
  <form action="/profmgmt" method="POST">
  <div class="login">
  <strong><label for="fullname"<b>Full Name: </b></label></strong><br>
  <input type="text" placeholder="Enter Username" name="fullname"value="<%= locals.fullname%>" id="userinfo" maxlength="50" required>
  <br><br>
  <strong><label for="address1"<b>Address 1: </b></label></strong><br>
  <input type="text" placeholder="Enter Address" name="address1"  value="<%= locals.address1%>" id="userinfo" maxlength="100" required>
  <br><br>
  <strong><label for="address2"<b>Address 2: </b></label></strong><br>
  <input type="text" placeholder="Enter Second Address (Optional)" name="address2" value="<%= locals.address2%>" id="userinfo" maxlength="100">
  <br><br>
  <strong><label for="city"<b>City: </b></label></strong><br>
  <input type="text" placeholder="Enter City" name="city" value="<%= locals.city%>" id="userinfo" maxlength="100" required>
  <br><br>
  <strong><label for="state"<b>State: </b></label></strong><br>
  <select name="states" value="<%= locals.state%>" id="states">
    <option value="">Select a state</option>
    <option value="AL"<% if (locals.state === "AL") { %>selected<% } %>>Alabama</option>
    <option value="AK"<% if (locals.state === "AK") { %>selected<% } %>>Alaska</option>
    <option value="AZ"<% if (locals.state === "AZ") { %>selected<% } %>>Arizona</option>
    <option value="AR"<% if (locals.state === "AR") { %>selected<% } %>>Arkansas</option>
    <option value="CA"<% if (locals.state === "CA") { %>selected<% } %>>California</option>
    <option value="CO"<% if (locals.state === "CO") { %>selected<% } %>>Colorado</option>
    <option value="CT"<% if (locals.state === "CT") { %>selected<% } %>>Connecticut</option>
    <option value="DE"<% if (locals.state === "DE") { %>selected<% } %>>Delaware</option>
    <option value="DC"<% if (locals.state === "DC") { %>selected<% } %>>District of Columbia</option>
    <option value="FL"<% if (locals.state === "FL") { %>selected<% } %>>Florida</option>
    <option value="GA"<% if (locals.state === "GA") { %>selected<% } %>>Georgia</option>
    <option value="HI"<% if (locals.state === "HI") { %>selected<% } %>>Hawaii</option>
    <option value="ID"<% if (locals.state === "ID") { %>selected<% } %>>Idaho</option>
    <option value="IL"<% if (locals.state === "IL") { %>selected<% } %>>Illinois</option>
    <option value="IN"<% if (locals.state === "IN") { %>selected<% } %>>Indiana</option>
    <option value="IA" <% if (locals.state === 'IA') { %>selected<% } %>>Iowa</option>
    <option value="KS" <% if (locals.state === 'KS') { %>selected<% } %>>Kansas</option>
    <option value="KY" <% if (locals.state === 'KY') { %>selected<% } %>>Kentucky</option>
    <option value="LA" <% if (locals.state === 'LA') { %>selected<% } %>>Louisiana</option>
    <option value="ME" <% if (locals.state === 'ME') { %>selected<% } %>>Maine</option>
    <option value="MD" <% if (locals.state === 'MD') { %>selected<% } %>>Maryland</option>
    <option value="MA" <% if (locals.state === 'MA') { %>selected<% } %>>Massachusetts</option>
    <option value="MI" <% if (locals.state === 'MI') { %>selected<% } %>>Michigan</option>
    <option value="MN" <% if (locals.state === 'MN') { %>selected<% } %>>Minnesota</option>
    <option value="MS" <% if (locals.state === 'MS') { %>selected<% } %>>Mississippi</option>
    <option value="MO" <% if (locals.state === 'MO') { %>selected<% } %>>Missouri</option>
    <option value="MT" <% if (locals.state === 'MT') { %>selected<% } %>>Montana</option>
    <option value="NE" <% if (locals.state === 'NE') { %>selected<% } %>>Nebraska</option>
    <option value="NV" <% if (locals.state === 'NV') { %>selected<% } %>>Nevada</option>
    <option value="NH" <% if (locals.state === 'NH') { %>selected<% } %>>New Hampshire</option>
    <option value="NJ" <% if (locals.state === 'NJ') { %>selected<% } %>>New Jersey</option>
    <option value="NM" <% if (locals.state === 'NM') { %>selected<% } %>>New Mexico</option>
    <option value="NY" <% if (locals.state === 'NY') { %>selected<% } %>>New York</option>
    <option value="NC" <% if (locals.state === 'NC') { %>selected<% } %>>North Carolina</option>
    <option value="ND" <% if (locals.state === 'ND') { %>selected<% } %>>North Dakota</option>
    <option value="OH" <% if (locals.state === 'OH') { %>selected<% } %>>Ohio</option>
    <option value="NM"<% if (locals.state === 'NM') { %>selected<% } %>>New Mexico</option>
    <option value="NY"<% if (locals.state === 'NY') { %>selected<% } %>>New York</option>
    <option value="NC"<% if (locals.state === 'NC') { %>selected<% } %>>North Carolina</option>
    <option value="ND"<% if (locals.state === 'ND') { %>selected<% } %>>North Dakota</option>
    <option value="OH"<% if (locals.state === 'OH') { %>selected<% } %>>Ohio</option>
    <option value="OK"<% if (locals.state === 'OK') { %>selected<% } %>>Oklahoma</option>
    <option value="OR"<% if (locals.state === 'OR') { %>selected<% } %>>Oregon</option>
    <option value="PA"<% if (locals.state === 'PA') { %>selected<% } %>>Pennsylvania</option>
    <option value="RI"<% if (locals.state === 'RI') { %>selected<% } %>>Rhode Island</option>
    <option value="SC"<% if (locals.state === 'SC') { %>selected<% } %>>South Carolina</option>
    <option value="SD"<% if (locals.state === 'SD') { %>selected<% } %>>South Dakota</option>
    <option value="TN"<% if (locals.state === 'TN') { %>selected<% } %>>Tennessee</option>
    <option value="TX"<% if (locals.state === "TX") { %>selected<% } %>>Texas</option>
    <option value="UT"<% if (locals.state === 'UT') { %>selected<% } %>>Utah</option>
    <option value="VT"<% if (locals.state === 'VT') { %>selected<% } %>>Vermont</option>
    <option value="VA"<% if (locals.state === 'VA') { %>selected<% } %>>Virginia</option>
    <option value="WA"<% if (locals.state === 'WA') { %>selected<% } %>>Washington</option>
    <option value="WV"<% if (locals.state === 'WV') { %>selected<% } %>>West Virginia</option>
    <option value="WI"<% if (locals.state === 'WI') { %>selected<% } %>>Wisconsin</option>
    <option value="WY"<% if (locals.state === 'WY') { %>selected<% } %>>Wyoming</option>
	</select>
  <br><br>
  <strong><label for="zip"<b>Zipcode: </b></label></strong><br>
  <input type="number" placeholder="Enter Zipcode" name="zip"value="<%= locals.zip%>" id="userinfo" maxlength="9" required>
  <br><br>
  <button type="submit">Save</button>
</form>
<form action="/logout" method="POST">
	<button type="submit">Log Out</button>
  </form>
  </div>
  <form action="/index" method="POST">
	<button type="submit">Main Page</button>
  </form>
  </body>
</html>
